<img src="{{ asset('img/octocat.gif') }}"
     alt="octocat" height="100px" width="100px">
<h1>La liste des formations de la classe {{ v1 }} dans la salle {{ v2 }}</h1>
{% if  listFormation is empty%}
<h6>Tableau vide</h6>
{% else %}
<table border="1">
    <tr>
        <td>Ref</td>
        <td>Titre</td>
        <td>Description</td>
        <td>N_P</td>
        <td>Participer</td>
    </tr>
    {% for f in listFormation %}
        {% if f.Description == "theorique" %}
        <tr>
            <td>{{ f.ref }}</td>
            <td>{{ f.Titre|upper }}</td>
            <td>{{ f.Description }}</td>
            <td>{{ f.nb_participants }}</td>
            <td>
                {% if f.nb_participants == 0 %}
                <a href="{{ path('app_reservation') }}">Participer</a>
                {% else %}
                complet
                {% endif%}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    {% endif %}
</table>

Le nombre de formations est : <b>{{ff|length}}</b>
{% for f in ff|filter(f=>'theorique' in f.Description) %}
 Titre des formations théoriques:
            <ul><li>{{f.Titre}}</li></ul>
 {% endfor %}
 {#récupérer la val maximale #}
 {% set max=0 %}
 {% for f in ff %}
    {% if f.nb_participants > max %}
        {% set max= f.nb_participants %}
    {% endif %}
{% endfor %}
{# Affichage de max #}
 {% for f in ff %}
    {% if f.nb_participants == max %}
       Le titre de max est: <b>{{f.Titre}}
    {% endif %}
{% endfor %}


<h3 style="color: coral">Nb de formation = {{ listFormation|length }}</h3>
<h3 style="color: crimson">Total des participants : x</h3>
{% set x= 0 %}
nbr= {{ x }}
{% set somme = 0 %}
 {% for k in listFormation %}
 {% set somme = somme+ k.nb_participants %}
 {% endfor %}
<h3 style="color:green">7. Le nombre de participants est :{{somme}}

